@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Mooli&family=Ubuntu:wght@400;500;700&display=swap');
/* font-family: 'Fuggles', cursive;
font-family: 'Mooli', sans-serif;
font-family: 'Ubuntu', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

body{
    overflow-x: hidden;
}

nav{
    height: 10vh;
    width: 100%;
    padding: 0 5rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2.5px 2px -2px rgba(0,0,0,0.2);
    position: sticky;
    top: 0;
    left: 0;
}

nav .img{
    margin-left: 3rem;
}

nav .img a{
    display: flex;
    height: 60px;
    width: 80px;
}

/* nav .list{
    display: flex;
    width: 50vw;
    margin: auto;
} */

nav .list ul{
    display: flex;
    gap: 4rem;
}

nav .list ul li {
    list-style-type: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}

nav .list ul li a{
    color: #333;
    text-decoration: none;
}

nav .list ul li a:hover{
    color: #00ADB5;
    transition: color 0.3s ease;
}

.mbl-nav{
    cursor: pointer;
    font-size: 2rem;
    display: none;
}

.mbl-nav .fa-x{
    display: none;
}





/* main section */

main{
    min-height: 85vh;
    display: flex;
}

main .container{
    min-width: 100%;
    height: inherit;
    margin: auto;
    display: flex;
}

main .container .box{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}

main .container .left-side{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #222831;

}

main .container .left-side::before,
main .container .left-side::after{
    content: '';
    height: 200px;
    width: 200px;
    background: linear-gradient(90deg, #00ADB5 , #EEEEEE);
    border-radius: 50%;
    position: absolute;
}

main .container .left-side::before{
    top: 20%;
    left: 10%;
}

main .container .left-side::after{
    right: 10%;
    bottom: 20%;
}


main .container .left-side .card{
    align-items: center;
    justify-content: center;
    height: 225px;
    width: 325px;
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
    perspective: 800px;
    position: relative;
    transition: transform 1s ease;
    border-radius: 25px;
    z-index: 1;
}


.front,.back{
    height: 225px;
    width: 325px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    background: rgba(255,255,255,.1);
    backdrop-filter: blur(25px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    color: #fff;
    font-family: 'Fuggles', cursive;
    font-size: 2.5rem;
}

.front{
    flex-direction: column;
}

.front h5{
    font-size: 1rem;
    align-items: flex-end;
    font-family: 'Ubuntu';
}

.back{
    transform: rotateY(180deg);
}

.back h3{
    font-family: 'Mooli', sans-serif;
    font-size: 2rem;
}

.card:hover{
    transform: rotateY(180deg);
}


/* right side */

.right-side{
    /*  */
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    height: 365px;
    width: 275px;
    background-color: #222831;
    border-radius: 30px;

    animation-name: anim;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes anim {
    0%,100%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-10px);
    }
} 

.cards:hover{
    transform: translateY(-5px);
    transition: transform 0.5s ease;
}

.cards .top{
    display: flex;
    align-items:center;
    /* padding-bottom: 1rem; */
    justify-content: center;
    height: 55%;
    /* background-color: antiquewhite; */
}

.cards .top .top-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding-left: 2rem;
}

.cards .top .top-left #rating{
    font-size: 2.8rem;
    font-weight: 600;
    font-family: 'Mooli', sans-serif;
    color: #EEEEEE;
}

.cards .top .top-left #position{
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Mooli', sans-serif;
    color: #EEEEEE;
}

.cards .top .top-left #country img{
    height: 30px;
    width: 50px;
    background: #333;
    object-fit: cover;
    margin: .5rem 0;
}

.cards .top .top-left #club img{
    /* display: flex; */
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}


.cards .top .top-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    position: relative;
}

.cards .top .top-right::before{
    content: '';
    position: absolute;
    height: 135px;
    width: 135px;
    border-radius: 50%;
    background-color: #fff;
    margin-top: 2rem;
}

.cards .top .top-right img{
    object-fit: cover;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin-top: 2rem;
    z-index: 2;
}

.cards .bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.cards .bottom #name{
    font-size: 1.5rem;
    color: #EEEEEE;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    border-bottom: 3px solid #fff;
    width: 120px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.cards .bottom .info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.cards .bottom .info .line{
    height: 70px;
    width: 3px;
    background: #fff;
    border-radius: 5px;
}

.cards .bottom .info .bottom-left,.cards .bottom .info .bottom-right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cards .bottom .info .bottom-left span,.cards .bottom .info .bottom-right span{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
    margin: 3px;
    color: #EEEEEE;
}

.container-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.arrow{
    height: 45px;
    width: 45px;
    font-size: 1.4rem;
    border-radius: 50%;
    background-color: #222831;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s ease
}

.fa-arrow-left:active{
    transform: translateX(-10px);
}

.fa-arrow-right:active{
    transform: translateX(10px);
}


/* footer */

footer h5{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    height: 5vh;
    padding-bottom: 10px;
    align-items: flex-end;
    justify-content: center;
}



@media (max-width: 980px) {
    nav{
        position: relative;
        padding: 0 3.5rem;
    }

    nav .img{
        margin-left: 0;
    }

    nav .list{
        /* display: none; */
        height: 100vh;
        width: 65%;
        position: fixed;
        top: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(25px);
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        opacity: 0;
        transition: all 0.4s linear;
    }

    nav.active .list{
        transform: translateX(0%);
        opacity: 1;
    }

    .mbl-nav{
        display: block;
        z-index: 999;
    }

    nav .fa-bars{
        display: block;
    }

    nav.active .fa-x{
        display: block;
    }

    nav.active .fa-bars{
        display: none;
    }

    nav .list ul{
        flex-direction: column;
        align-items: center;
    }

    nav .list ul li a{
        color: #fff;
    }

    main{
        min-height: auto;
    }

    main .container{
        flex-direction: column;
    }

    main .container .box{
        width: 100%;
        /* min-height: 75vh; */
    }

    footer{
        background: #222831;
    }

    footer h5{
        color: rgba(255, 255, 255, 0.4);
    }
}

@media (max-width: 400px){
    .container-right{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    main .container .box{
        min-height: 75vh;
    }
}





